<h1 class="page-title">Profile details</h1>
<div class="signup-form">
<div class="form-inputs">
<%= simple_form_for @user, as: :user, method: :put, url: profile_path(@user) do |f| %>

  <%= f.input :user_name %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <div class="cr-img">
  <%= f.input :photo %>
  </div>

  <div class="button button-small">
  <%= f.button :submit, value:"Update", data: { disable_with: false } %>
  </div>
<% end %>

</div>
</div>
</div>
</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
