
<body>
  <div class="signup-form">
  		<h2>Create an Account</h2>
  		<p class="hint-text">Sign up with your social media account or email address</p>
  		<div class="social-btn text-center">
        <%= link_to "Facebook", omniauth_authorize_path(resource_name, :facebook), class:"btn btn-primary btn-lg"%>
  			    <%= link_to "Google", omniauth_authorize_path(resource_name, :google_oauth2), class:"btn btn-danger btn-lg"%>
  		</div>
  		<div class="or-seperator"><b>or</b></div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :first_name,
                required: true %>
    <%= f.input :last_name,
                required: true %>
    <%= f.input :user_name,
                required: true %>
    <div class="cr-img">
    <%= f.input :photo, as: :file%>
    </div>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="pt-3">
  </div>
  <div class="button button-small ">
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
</div>
    </form>
    
<%= render "devise/shared/links" %>

