<h1 class="page-title">Chat</h1>
<h2 class="page-subtitle">Let your friends know about temptations and failures.</h2>

<div class="chatroom">
  <div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render message %>
      <% end %>
    </div>

    <%= simple_form_for [@group, @chatroom, @message ], url: group_chatroom_messages_path(@group, @chatroom), remote: true do |f| %>
      <div class="d-flex align-item-center">
        <%= f.input :content, label: false, placeholder: "Message...", wrapper_html: { class: 'flex-grow-1 pr-3 form-control-message' } %>
        <%= f.button :submit, "Send", class: 'button button-small px-3' %>
      </div>
      <div class="cr-img">
        <%= f.input :photo, label: false, wrapper_html: { class: 'photofield pr-3' } %>
      </div>
    <% end %>
  </div>
</div>

  <div class="button-secondary button-large-secondary" style="margin: 20px auto;">
    <%= link_to "Back to groups", groups_path %>
  </div>
