<div class="chatroom">
  <h1><%= @group.challenge.name %></h1>
  <div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render message %>
      <% end %>
    </div>

    <%= simple_form_for [@group, @chatroom, @message ], url: group_chatroom_messages_path(@group, @chatroom), remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
    <% end %>
  </div>
</div>