<div class="chatroom">
  <h1><%= @group.challenge.name %></h1>
  <div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render message %>
      <% end %>
    </div>

    <%= simple_form_for [@group, @chatroom, @message ], url: group_chatroom_messages_path(@group, @chatroom) do |f| %>
      <div class="d-flex align-item-center">
        <%= f.input :content, label: false, placeholder: "Message...", wrapper_html: { class: 'flex-grow-1 px-3' } %>
        <%= f.button :submit, "Send", class: 'button button-small px-3' %>
      </div>
        <%= f.input :photo, label: false,wrapper_html: { class: 'px-3' } %>
    <% end %>
  </div>
</div>