<h1 class="page-title">My groups</h1>
<h2 class="page-subtitle">Find an overview about all your groups</h2>
<% @groups.each do |group| %>
  <h4>Challenge: <%= link_to group.challenge.name, group_path(group) %></h4>
  <ul>
    <li>Participating? <%= group.completed %></li>
    <li>Difficulty: <%= group.difficulty %></li>
    <li>Impact: <%= group.impact %></li>
    <li>Duration: <%= group.duration %></li>
    <li>Exceptions: <%= group.exceptions %></li>
    <li>Points: <%= group.points %></li>
  </ul>
<% end %>
