<h1 class="page-title">Dashboard</h1>
<h2 class="page-subtitle">Find an overview about all your challenges</h2>

<div class="menu-container">
  <nav class="menu menu-pills d-flex align-items-center justify-content-around">
    <%= link_to 'Invitations', groups_path(status: 'invited'), class: "menu-item menu-link #{@status == 'invited' ? 'active' : ''}"%>
    <%= link_to 'Active', groups_path(status: 'active'), class: "menu-item menu-link #{@status == 'active' ? 'active' : ''}"%>
    <%= link_to 'Completed', groups_path(status: 'completed'), class: "menu-item menu-link #{@status == 'completed' ? 'active' : ''}"%>
    <%= link_to 'Failed', groups_path(status: 'failed'), class: "menu-item menu-link #{@status == 'failed' ? 'active' : ''}"%>
  </nav>
</div>

<div class="container">
  <div class="row">
  <% if @usergroups.empty?%>
  <p class="ml-auto mr-auto"> No <%= @status %> challenges yet</p>
  <% else %>
    <% @usergroups.each do |usergroup| %>
      <div class="col-12 col-md-6 col-xl-4 px-2 mb-3">
        <div class="card">
          <div class="col card-col-img">
            <%= cl_image_tag(usergroup.group.challenge.photo.key, class: "card-img") %>
          </div>
          <div class="col card-b">
            <div class="card-body">
              <p class="industrycard mb-0"><strong><%= link_to usergroup.group.challenge.name, group_path(usergroup.group) %></strong></p>
              <p class="card-text"> <%= usergroup.group.challenge.description %> </p>
            </div>
            <div class="row range card-range">
                <% if @status == "invited"%>
                  <div class="button button-large ml-auto mr-auto">
                    <%= link_to 'Accept', accept_group_user_group_path(usergroup.group.id, usergroup), method: :post, remote: true %>
                  </div>
                  <div class="button button-large-secondary ml-auto mr-auto">
                    <%= link_to 'Decline', decline_group_user_group_path(usergroup.group.id, usergroup), method: :post, remote: true %>
                  </div>
                <% end %>
                <% if @status == "active"%>
                  <div class="button button-large ml-auto mr-auto">
                    <%= link_to 'Give up', giveup_group_user_group_path(usergroup.group.id, usergroup), method: :post, remote: true%>
                  </div>
                <% end %>
                <% if @status == "completed"%>
                  <div class="button-large-secondary ml-auto mr-auto">
                    <%= usergroup.group.points %> Points earned
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
 </div>
</div>

