<h1 class="page-title">Dashboard</h1>
<h2 class="page-subtitle">Find an overview about all your challenges</h2>

<div class="menu-container">
  <nav class="menu menu-pills d-flex align-items-center justify-content-around">
    <%= link_to 'Invited', groups_path(status: 'invited'), class: "menu-item menu-link #{@status == 'invited' ? 'active' : ''}"%>
    <%= link_to 'Active', groups_path(status: 'active'), class: "menu-item menu-link #{@status == 'active' ? 'active' : ''}"%>
    <%= link_to 'Done', groups_path(status: 'completed'), class: "menu-item menu-link #{@status == 'completed' ? 'active' : ''}"%>
    <%= link_to 'Failed', groups_path(status: 'failed'), class: "menu-item menu-link #{@status == 'failed' ? 'active' : ''}"%>
  </nav>
</div>

<div class="container">
  <% if @usergroups.empty?%>
    <p class="centered"> No challenges with this status</p>
  <% else %>
    <% @usergroups.each do |usergroup| %>
      <div class="row">
        <div class="col-12 px-2 mb-3">
          <div class="card">
            <div class="col card-col-img">
              <%= cl_image_tag(usergroup.group.challenge.photo.key, class: "card-img") %>
            </div>
            <div class="col d-flex align-items-center justify-content-between">
              <div class="card-body mt-0 pt-0">
                <p class="industrycard mb-2 pt-0"><strong><%= link_to usergroup.group.challenge.name, group_path(usergroup.group) %></strong></p>
                <p class="mb-0"> <%= usergroup.group.duration / 7 %> Weeks </p>
                <p class="mb-0"> <%= usergroup.group.exceptions %> Exceptions </p>
                <div class="d-flex">
                  <% usergroup.group.users[0..3].each do |user|%>
                    <% if @status == 'failed'%>
                    <%= cl_image_tag(user.photo.key, class: "avatar-small", effect: "grayscale") %>
                    <% else %>
                    <%= cl_image_tag(user.photo.key, class: "avatar-small") %>
                    <% end %>
                  <% end %>
                  <% if usergroup.group.users.length > 3 %>
                    <div class="avatar-small bg-light d-flex justify-content-around align-items-center">
                      <p class="text-secondary">+<%= usergroup.group.users.length - 3 %></p>
                    </div>
                  <% end %>
                </div>
              </div>
              <% if @status == "invited"%>
                <div class="button-container">
                  <p>Accept Invite?</p>
                  <div class="d-flex justify-content-around">
                    <%= link_to(accept_group_user_group_path(usergroup.group.id, usergroup), method: :post, remote: true) do %>
                      <div class="checkbox ml-auto mr-auto mb-3">
                        <i class="fas fa-check"></i>
                      </div>
                    <% end %>
                    <%= link_to(decline_group_user_group_path(usergroup.group.id, usergroup), method: :post, remote: true) do %>
                      <div class="checkbox-secondary ml-auto mr-auto mb-3">
                        <i class="fas fa-times"></i>
                      </div>
                    <% end %>
                  </div>
                </div>
                <% end %>

                <% if @status == "active"%>
                  <div class="button-container">
                    <div class = "mt-2 centered d-flex justify-content-center">
                      <div>
                        <div class="days">
                          <% "#{start_date = usergroup.group.created_at}" %>
                          <% "#{end_date = start_date + (usergroup.group.duration).days}" %>
                          <%= "#{remaining_days = ((end_date - DateTime.now) / 86400 * 7).round}"%>
                        </div>
                        <p>Days left</p>
                      </div>
                    </div>
                    <%= link_to(giveup_group_user_group_path(usergroup.group.id, usergroup), method: :post, remote: true) do %>
                      <div class="checkbox-secondary-long ml-auto mr-auto mb-4">
                        <p class="mb-0">Give up!</p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if @status == "completed"%>
                  <div class="button button-high-yellow ml-auto mr-auto points-button">
                    <%= usergroup.group.points %> points earned
                  </div>
                <% end %>
                <% if @status == "failed"%>
                  <div class="d-flex flex-column align-items-center">
                  <div class="button-large-grey ml-auto mr-auto points-button">
                    Failed
                  </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

