<div class="banner-container">
    <h1 style="color: white; padding-top: 20px;"><strong><%= @group.challenge.name%></strong></h1>
      <div>
        <%= cl_image_tag(@group.challenge.photo.key, style: "width: 200px; height: 200px; border-radius: 4px; margin: 20px; box-shadow: 0 0 2px 2px white;") %>
      </div>
      <% if @remaining_days == 0 && @user_group.first.status == "active" %>
        <%= link_to "Click to confirm that you did it!", completed_group_path(@group), method: :post, class: "button button-large", style: "background-color: #facc48; width: 300px; margin: 0px auto;" %>
      <% else %>
        <div class="button button-small-secondary"  style="width: 200px; margin: 0px auto;">
          <%= @user_group.first.status.capitalize %>
        </div>
      <% end %>
      <div class="challengesize">
        <div class="card" style="margin: 50px auto; border-radius: 4px; border-color: white">
          <div class="card-body" style="border-right: 1px solid #facc48; padding: 5px 10px">
            <div style="color: #facc48;">
              <%= @total_days %>
            </div>
            <p>Total days</p>
          </div>
          <div class="card-body" style="border-right: 1px solid #facc48; padding: 5px 10px">
            <div style="color: #facc48;">
              <%= "+ #{@group.points}" %>
            </div>
            <p>Total points</p>
          </div>
          <div class="card-body">
            <div style="color: #facc48;">
              <%= @remaining_days %>
            </div>
            <p>Remaining days</p>
          </div>
        </div>
      </div>
</div>

<% if params[:notice] %>
  <div class="popup">
    <div class="alert alert-dark alert-dismissible fade show" role="alert" style="height: 300px; padding: 20px; text-align: center; background-color:White">
      <%= image_tag("tick2.png", size: "100x100")%>
      <p style="margin: 20px 5px 15px 20px">Congratulations</p>
      <p>You made the world a better place</p>
      <div class="button button-large" style="background-color: #facc48; margin: 20px auto;">
            <%= "+ #{@group.points} points" %>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>

<div class="container-icon">
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("difficulty.png", size: "25x25")%>
                <label style="font-size: 15px; padding: 0px 0px 5px 10px;">Difficulty</label>
                  <div class="slider">
                    <div class="slider-value" style="width:<%= @group.challenge.default_difficulty * 10 %>%; height:5px; color:white;">.</div>
                  </div>
  </div>
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("world.png", size: "25x25")%>
                <label style="font-size: 15px; padding: 0px 0px 5px 10px;">Impact</label>
                  <div class="slider">
                    <div class="slider-value" style="width:<%= @group.challenge.default_impact * 10 %>%; height:5px; color:white;">.</div>
                  </div>
  </div>
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("duration.png", size: "25x25")%>
                <label style="font-size: 15px; padding: 0px 0px 5px 10px;">Duration in weeks</label>
                  <div class="slider">
                    <div class="slider-value" style="width:<%= @group.duration * 10 %>%; height:5px; color:white;">.</div>
                  </div>
  </div>
  <div class="slider-numbers">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
    <p>8</p>
    <p>9</p>
    <p>10</p>
  </div>
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("hurdles.png", size: "25x25")%>
                <label style="font-size: 15px; padding: 0px 0px 5px 10px;">Exeptions per week</label>
                  <div class="slider">
                    <div class="slider-value" style="width:<%= @group.exceptions * 14 %>%; height:5px; color:white;">.</div>
                  </div>
  </div>
  <div class="slider-numbers">
    <p>0</p>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
  </div>
</div>


  <div class="button button-large" style="margin: 20px auto;">
        <%= link_to 'Chatroom', group_chatroom_path(@group, @group.chatroom) %>
  </div>

  <div class="button-secondary button-large-secondary" style="margin: 20px auto;">
        <%= link_to "Go back to list", groups_path %>
  </div>

