<h1 class="page-title"> <%= @group.challenge.name %> </h1>
<h2 class="page-subtitle">Your challenge lasts 2 more days</h2>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="banner-container">
    <%= image_tag "banner.png", style:"width:100%;"%>
      <div class="button button-large button-flex">
          <%= link_to "+ 10'000 points", root_path %>
      </div>
</div>

<div style="text-align: center;">
  <%= cl_image_tag(current_user.photo.key, style: "width: 200px; height: 200px; border-radius: 4px;") %>
</div>

<div class="container-icon">
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("difficulty.png", size: "25x25")%>
                <label for="exampleRangeDifficulty" style="font-size: 15px; padding: 0px 0px 5px 10px;">Difficulty</label>
                  <div class="slider">
                    <div class="slider-value" style="width:75%; height:5px; color:white;">.</div>
                  </div>
  </div>
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("world.png", size: "25x25")%>
                <label for="exampleRangeDifficulty" style="font-size: 15px; padding: 0px 0px 5px 10px;">Impact</label>
                  <div class="slider">
                    <div class="slider-value" style="width:75%; height:5px; color:white;">.</div>
                  </div>
  </div>
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("duration.png", size: "25x25")%>
                <label for="exampleRangeDifficulty" style="font-size: 15px; padding: 0px 0px 5px 10px;">Duration</label>
                  <div class="slider">
                    <div class="slider-value" style="width:75%; height:5px; color:white;">.</div>
                  </div>
  </div>
  <div style="padding: 12px 0px; width:300px; margin: 10px auto;">
    <%= image_tag("hurdles.png", size: "25x25")%>
                <label for="exampleRangeDifficulty" style="font-size: 15px; padding: 0px 0px 5px 10px;">Exeptions</label>
                  <div class="slider">
                    <div class="slider-value" style="width:75%; height:5px; color:white;">.</div>
                  </div>
  </div>
</div>


  <div class="button button-large" style="margin: 20px auto;">
        <%= link_to 'Chatroom', group_chatroom_path(@group, @group.chatroom) %>
  </div>

  <div class="button-secondary button-large-secondary" style="margin: 20px auto;">
        <%= link_to "Go back to list", groups_path %>
  </div>

