<h1 class="page-title"> <%= @group.challenge.name %> </h1>
<h2 class="page-subtitle">Find an overview about all your groups</h2>
<ul>
  <li><%= @group.completed %></li>
  <li><%= @group.difficulty %></li>
  <li><%= @group.impact %></li>
  <li><%= @group.duration %></li>
  <li><%= @group.exceptions %></li>
  <li><%= @group.points %></li>
</ul>


<%= link_to "Go back to list", groups_path %>

