<h1>Group overview</h1>
<ul>
  <li><%= @group.completed %></li>
  <li><%= @group.difficulty %></li>
  <li><%= @group.impact %></li>
  <li><%= @group.duration %></li>
  <li><%= @group.exceptions %></li>
  <li><%= @group.points %></li>
</ul>
