<div class="d-flex justify-content-around">
  <div>
    <p>button-small</p>
    <div class="button button-small">
      <%= link_to 'Home', root_path %>
    </div>

    <p>button-large</p>
    <div class="button button-large">
      <%= link_to 'Start Challenge', root_path %>
    </div>
  </div>

  <div>
    <p>button-small-secondary</p>
    <div class="button-secondary button-small-secondary">
      <%= link_to 'Home', root_path %>
    </div>

    <p>button-large-secondary</p>
    <div class="button-secondary button-large-secondary">
      <%= link_to 'Start Challenge', root_path %>
    </div>
  </div>

  <div class="bg-green">
    <p>button-small-secondary</p>
    <div class="button-secondary button-small-secondary">
      <%= link_to 'Home', root_path %>
    </div>

    <p>button-large-secondary</p>
    <div class="button-secondary button-large-secondary">
      <%= link_to 'Start Challenge', root_path %>
    </div>
  </div>

</div>

