<div class="container">
  <div class="row">

    <div class="col-12 col-md-6 col-xl-4 px-2 mb-3">
      <div class="card">
        <div class="col card-col-img">
          <%= cl_image_tag("Component_8_ldexne", class: "card-img") %>
        </div>
        <div class="col card-b">
          <div class="card-body">
            <p class="industrycard mb-0"><strong>Card title</strong></p>
            <p class="card-text">This is a funny game that </p>
          </div>
          <div class="row range card-range">
            <div class="col">
            <%= image_tag("difficulty.png", size: "23x20")%>
            <label for="exampleRangeDifficulty">Difficulty</label>
            <input type="range" class="custom-range" id="exampleRangeMood" step="10" required value="80">
            </div>
            <div class="col">
            <%= image_tag("world.png", size: "18x18")%>
            <label for="exampleRangeImpact">Impact</label>
            <input type="range" class="custom-range" id="exampleRangeMood" step="10" required value="60">
            </div>
        </div>
      </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 px-2 mb-3">
      <div class="card">
        <div class="col card-col-img">
          <%= cl_image_tag("Component_8_ldexne", class: "card-img") %>
        </div>
        <div class="col card-b">
          <div class="card-body">
            <p class="industrycard mb-0"><strong>Card title</strong></p>
            <p class="card-text">This is a funny game that </p>
          </div>
          <div class="row range card-range">
            <div class="col">
            <%= image_tag("difficulty.png", size: "23x20")%>
            <label for="exampleRangeDifficulty">Difficulty</label>
            <input type="range" class="custom-range" id="exampleRangeMood" step="10" required value="80">
            </div>
            <div class="col">
            <%= image_tag("world.png", size: "18x18")%>
            <label for="exampleRangeImpact">Impact</label>
            <input type="range" class="custom-range" id="exampleRangeMood" step="10" required value="60">
            </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 px-2 mb-3">
      <div class="card">
        <div class="col card-col-img">
          <%= cl_image_tag("Component_8_ldexne", class: "card-img") %>
        </div>
        <div class="col card-b">
          <div class="card-body">
            <p class="industrycard mb-0"><strong>Card title</strong></p>
            <p class="card-text">This is a funny game that </p>
          </div>
          <div class="row range card-range">
            <div class="col">
            <%= image_tag("difficulty.png", size: "23x20")%>
            <label for="exampleRangeDifficulty">Difficulty</label>
            <input type="range" class="custom-range" id="exampleRangeMood" step="10" required value="80">
            </div>
            <div class="col">
            <%= image_tag("world.png", size: "18x18")%>
            <label for="exampleRangeImpact">Impact</label>
            <input type="range" class="custom-range" id="exampleRangeMood" step="10" required value="60">
            </div>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>