<div class="d-flex">
    <%= cl_image_tag("Component_8_ldexne") %>
    <%= cl_image_tag("Component_9_svsla5") %>
    <%= cl_image_tag("Component_10_wcqhni") %>
    <%= cl_image_tag("Component_2_wnyqgt") %>
    <%= cl_image_tag("Component_4_ljuwjc") %>
    <%= cl_image_tag("Component_3_hsosm5") %>
    <%= cl_image_tag("Component_7_dvvrh2") %>
    <%= cl_image_tag("Component_6_du15r8") %>
    <%= cl_image_tag("Component_5_dybpya") %>
</div>