<h1 class="page-title-friends"><%= @user.first_name %>'s friends:</h1>

<div class="container">
  
    <% @friends.each do |friend| %>
      <div class="col-12 px-2 mb-5">
        <div class="card">
              <div class="card-col-pic d-flex">
                <% if friend.photo.present? %>
                  <%= cl_image_tag(friend.photo.key, class: "friendavatar") %>
                <% end %>
              </div>

              <div class="card-b">
                <div class="card-body-friends">
                  <p class="industrycard mb-0"><strong><%= friend.first_name %> <%= friend.last_name %></strong> 
                  <p class="card-text"><%= friend.user_name %></p>
                </div>
              </div>
              <%# <div class="points mr-4 d-flex flex-column align-items-left"> %>
                <div class="points"><%= friend.points %> Points</div>
              <%# </div> %>
        </div>
      </div>
    <% end %>
  
  
    <div class="button button-large ml-auto mr-auto">
      <%= link_to 'Invite Friends', new_user_invitation_path %>
    </div>
</div>



