<h1 class="page-title">Friends</h1>

<div class="menu-container">
  <nav class="menu menu-pills">
    <%= link_to 'Your Friends', profile_friendships_path(choice: 'show'), class: "menu-item menu-link centered #{@choice == 'show' ? 'active' : ''}", style: "width: 140px;"%>
    <%= link_to 'Add Friends', profile_friendships_path(choice: 'add'), class: "menu-item menu-link centered #{@choice == 'add' ? 'active' : ''}", style: "width: 140px;"%>
  </nav>
</div>


<% if @choice == 'show' %>

  <% if @friends.size > 1 %>
  <div>
      <div class="d-flex" style="justify-content: space-around; width: 300px; margin: 0px auto;">
        <p style="color:#5ACCB3;padding-top: 50px; font-size: 30px;">2</p>
        <p style="color:#facc48; font-size: 40px;">1</p>
        <p style="color:#5ACCB3;padding-top: 50px; font-size: 30px;">3</p>
      </div>
  </div>
    <div class="container" style="text-align: center;">
      <div style="margin-top: -30px;">
        <% @friends[1..1].each do |friend| %>
          <%= cl_image_tag(friend.photo.key, class: "avatar-medium", style: "border: 2px solid #5ACCB3; box-shadow: 0 0 10px #5ACCB3; margin-right:-20px;") %>
        <% end %>

        <% @friends[0..0].each do |friend| %>
          <%= cl_image_tag(friend.photo.key, class: "avatar-medium", style: "margin-bottom: 60px; border: 2px solid #facc48; box-shadow: 0 0 10px #facc48;") %>
        <% end %>

        <% @friends[2..2].each do |friend| %>
          <%= cl_image_tag(friend.photo.key, class: "avatar-medium", style: "border: 2px solid #5ACCB3; box-shadow: 0 0 10px #5ACCB3; margin-left:-20px; position: relative; z-index:-1;") %>
        <% end %>
      </div>

      <% @friends[0..2].each do |friend| %>
        <div class="col-12 px-2 mb-2">
          <%= link_to(profile_path(friend)) do %>
          <div class="friend-card">
                <div class="card-col-pic d-flex">
                  <% if friend.photo.present? %>
                    <%= cl_image_tag(friend.photo.key, class: "avatar") %>
                  <% end %>
                </div>
                <div class="col d-flex justify-content-between align-items-center">
                  <div class="card-b">
                    <div class="card-body-friends">
                      <p class="industrycard mb-0"><strong><%= friend.first_name %> <%= friend.last_name %></strong>
                      <p class="card-text"><%= friend.user_name %></p>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="points"><%= friend.points %></div>
                  </div>
                </div>
          </div>
          <% end %>
        </div>
      <% end %>

      <% @friends[3..10].each do |friend| %>
        <div class="col-12 px-2 mb-2">
          <%= link_to(profile_path(friend)) do %>
          <div class="friend-card">
                <div class="card-col-pic d-flex">
                  <% if friend.photo.present? %>
                    <%= cl_image_tag(friend.photo.key, class: "avatar") %>
                  <% end %>
                </div>
                <div class="col d-flex justify-content-between align-items-center">
                  <div class="card-b">
                    <div class="card-body-friends">
                      <p class="industrycard mb-0"><strong><%= friend.first_name %> <%= friend.last_name %></strong>
                      <p class="card-text"><%= friend.user_name %></p>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="points"><%= friend.points %></div>
                  </div>
                </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @choice == 'add'%>
<div class="container">
  <div class="miniform">
    <%= form_tag profile_friendships_path(@user), method: :get do %>
    <div class="d-flex align-items-center">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-4 form-control-message",
        placeholder: "Find a user"
      %>
        <%= submit_tag "Search", class: "button button-small button-submit mt-4 mb-4 mr-auto ml-auto" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
    <% @nonfriends[0..5].each do |friend| %>
      <div class="col-12 px-2 mb-2">
        <div class="friend-card">
          <div class="card-col-pic d-flex">
          <% if friend.photo.present? %>
            <%= cl_image_tag(friend.photo.key, class: "avatar") %>
          <% end %>
          </div>

          <div class="col d-flex justify-content-between align-items-center">
            <div class="card-b">
              <div class="card-body-friends">
                <p><strong><%= friend.first_name %> <%= friend.last_name %></strong>
                <p><%= friend.user_name %></p>
              </div>
            </div>

              <div class="button-container">
                <% if current_user.friends.include?(friend)%>
                <div class="checkbox-secondary mt-auto mr-3">
                  <i class="fas fa-heart"></i>
                </div>
                <% else %>
                <%= link_to(profile_friendships_path(:friend_id => friend.id), method: :post, remote: true) do %>
                    <div class="checkbox-secondary mt-auto mr-3">
                        <i class="fas fa-plus"></i>
                    </div>
                <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="button button-large mr-auto ml-auto mt-4">
    <%= link_to 'Invite Friends', new_user_invitation_path %>
  </div>

</div>
