<div class="hpcontainer">
  <div class="banner">
    <div class="banner-content text-center">
      <h1>Climately</h1>
      <div class="hpdescription"> <p>Save the world in your couch!</p> </div>
      <div class="button button-large mt-3 mb-3" style="margin: 20px auto;">
          <%= link_to 'Start Challenge', root_path %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hptitle">
      <p><strong>Mother nature is asking for help to take care of our planet, do you want to be a part of the movement?</strong></p>
    </div>
      <div class="hptitle"><p>Pass through our challenges</p></div>
      <div class="hptitle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag("challenge.png", class:"d-block w-65", style:"margin: 20px auto;") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("challenge2.png", class:"d-block w-65", style:"margin: 20px auto;") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("challenge3.png", class:"d-block w-65", style:"margin: 20px auto;") %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    

    <div class="hpicons">
    <div class="hptitle">
      <div class="col my-2 w-40">
        <%= image_tag("world.png", style: "width: 110px; height: 110px; margin: 20px;")%>
        <p>We measure the impact that the different challenges have in the planet by measuring the amount of CO2 emitions that you didn’t send to the atmosphere.</p>
      <div class="col my-2 w-40 mb-5">
    </div>
    <div class="hptitle">
        <%= image_tag("difficulty.png", style: "width: 140px; height: 120px; margin: 20px;")%>
        <p>Some challenges that are more difficult then others, so we pay attention to the effort you have to do in each one and measure it on a scale!</p>
    </div>
    </div>
    </div>


    <div class="container-valueprops">
        <div class="valueprops">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <%= image_tag ("edit.png"), style: "width: 140px; height: 120px; margin: 20px;" %>
              <p><strong>Customize</strong></p>
              <p>Choose the lenght and the exceptions you wanna make during the challenges.</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <%= image_tag ("friends.png"), style: "width: 140px; height: 120px; margin: 20px;" %>
              <p><strong>Challenge your friends</strong></p>
              <p>Invite your friends to a sustainble challenge and share what you have achived!</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <%= image_tag ("sucess.png"), style: "width: 140px; height: 120px; margin: 20px;" %>
              <p><strong>Track your success</strong></p>
              <p>After each challenge you get a review about your impact in the environment.</p>
            </div>
          </div>
      </div>
    </div>

    <div class="finalchance">
    <p><strong>Join us!</strong></p>
    <div class="button button-large mt-3 mb-3" style="margin: 20px auto;">
          <%= link_to 'Sign In', root_path %>
    </div>
    </div>

    <p class="quote">
    “Activism works. So what I’m telling you to do now, is to act. Because no one is too small to make a difference.” 
    Greta Thunberg
    </p>
  </div>
</div>