<div class="hpcontainer">
  <div class="banner container">
    <div class="row">
      <div class="col-lg-6 col-sm-12" >
        <%= image_tag "phone_challenges.png", style: "width: 100%; height: auto;"%>
      </div>
      <div class="banner-content-text col-lg-6 col-sm-12">
        <h1>Climately</h1>
        <p class="hpdescription">Save the world from your couch!</p>
        <div>
          <div class="button button-large mt-3 mb-3" style="margin: 20px auto;">
              <%= link_to 'Start Challenge', challenges_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-quote">
    <p>“Activism works. So what I’m telling you to do now, is to act. Because no one is too small to make a difference.”    ~ Greta Thunberg</p>
  </div>

  <div class="container">
    <div class="hptitle">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @challenges.each_with_index do |challenge, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= link_to challenges_path do %>
                <div class="col-12 col-md-6 offset-md-3 px-2 mb-3">
                  <%= render '/challenges/challenge-card', challenge: challenge %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="container">
    <div class="d-flex" style="justify-content: space-around;">
      <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12">
            <p class="tag-number" style="margin: 50px 0px 50px 0px;"><strong>1</strong></p>
            <h1>Add a challenge</h1>
            <p class="hpdescription" style="margin: 0px 0px 30px 0px;">Save the world from your couch!</p>
            <%= image_tag("world.png", style: "height:200px;") %>
          </div>
          <div class="text-box col-lg-6 col-sm-12 col-md-12" style="margin:50px 0px">
            <div style="width: 240px;">
              <h2 class="hpdescription2-title"><strong>Challenge</strong><h2>
              <p class="hpdescription2">All our challenges are calculated based on CO2 emissions. After every challenge you did, you help to save the world by reducing your carbon footprint. That is easy right?!</p>
            </div>
          </div>
      </div>
    </div>
    </div>

    <div class="container">
    <div class="d-flex" style="justify-content: space-around;">
      <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12 header-display2">
            <p class="tag-number" style="margin: 50px 0px 50px 0px;"><strong>2</strong></p>
            <h1>Customize the challenge</h1>
            <p class="hpdescription" style="margin: 0px 0px 30px 0px;">Save the world from your couch!</p>
            <%= image_tag("difficulty.png", style: "height:200px;") %>
          </div>
          <div class="text-box-triangle col-lg-6 col-sm-12 col-md-12" style="margin:50px 0px">
            <div style="width: 270px;">
              <h2 class="hpdescription2-title"><strong>Make the Challenge yours!</strong><h2>
              <p class="hpdescription2">Difficulty: You can set the amount of exceptions per week</p>
              <p class="hpdescription2">Impact: You can set the amount of exceptions per week</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 header-display">
            <p class="tag-number" style="margin: 50px 0px 50px 0px;"><strong>2</strong></p>
            <h1>Customize the challenge</h1>
            <p class="hpdescription" style="margin: 0px 0px 30px 0px;">Make climate change your topic!</p>
            <%= image_tag("difficulty.png", style: "height:200px;") %>
          </div>
      </div>
    </div>
    </div>

    <div class="container">
    <div class="d-flex" style="justify-content: space-around;">
      <div class="row">
          <div class="col-lg-6 col-sm-12 col-md-12">
            <p class="tag-number" style="margin: 50px 0px 50px 0px;"><strong>3</strong></p>
            <h1>Invite Friends</h1>
            <p class="hpdescription" style="margin: 0px 0px 30px 0px;">and save the world as one!</p>
            <%= image_tag("world.png", style: "height:200px;") %>
          </div>
          <div class="text-box-circle col-lg-6 col-sm-12 col-md-12" style="margin:50px 0px">
            <div style="width: 270px;">
              <h2 class="hpdescription2-title"><strong>Together even more fun!</strong><h2>
              <p class="hpdescription2">Invite your friends and challenges yourselves together and share what you have achieved!</p>
              <p class="hpdescription2">Go green as a team!</p>
            </div>
          </div>
      </div>
    </div>
    </div>

    <div class="banner container">
      <div class="row">
        <div class="col-lg-6 col-sm-12" >
          <%= image_tag "phone_challenges2.png", style: "width: 100%; height: auto;"%>
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1>Join us!</h1>
          <p class="hpdescription">And make the world a better place!</p>
          <div class="button button-large mt-3 mb-3" style="margin: 20px auto;">
              <%= link_to 'Sign In', root_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
