<div class="main-container">
    <h1 class="page-title">This is our "page-title"</h1>

    <h2 class="page-subtitle">This is our "page-subtitle</h2>
    <p class="centered">This is our main paragraph style "centered"</p>
    <p>This is our main paragraph style</p>
    <p class="secondary-text">This is "secondary-text"</p>

    <p>
      <span id="banner-typed-text"></span>
    </p>

    <h2 class="page-subtitle">Card</h2>
    <div class="container">
        <%= render 'shared/card' %>
    </div>
    <h2 class="page-subtitle">Buttons</h2>
    <%= render 'shared/button' %>

    <h2 class="page-subtitle">Icons</h2>
    <%= render 'shared/icon' %>

    <h2 class="page-subtitle">Profile Images</h2>
    <%= render 'shared/profileimg' %>

    <h2 class="page-subtitle">Forms</h2>
    <%= render 'shared/forms' %>

    <h2 class="page-subtitle">Menu Bar</h2>
    <%= render 'shared/menu_bar' %>

    <h2 class="page-subtitle">Scale</h2>
    <%= render 'shared/scale' %>
</div>
