<div class="container">
  <div class="signup-form">
  <div style="text-align: center;">
    <h1 class="col-12 px-2 mb-3">Login</h1>
  </div>
    <p class="centered">Welcome back! Please sign in to continue.</p>
        <div class="social-btn text-center">
        <%= link_to "Facebook", omniauth_authorize_path(resource_name, :facebook), class:"btn btn-primary btn-lg "%>
            <%= link_to "Google", omniauth_authorize_path(resource_name, :google_oauth2), class:"btn btn-danger btn-lg "%>
        </div>
        <div class="or-seperator"><b>or</b></div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>

        <div class="form-check pl-0">
          <div class="d-flex">
            <input type="checkbox" value="lsRememberMe" id="rememberMe" class="mr-2">
            <label for="rememberMe">Remember me</label>
          </div>
        </div>
          
      </div>
        
    <div class="pt-3">
    </div>

    <div class="button button-small ">
    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
    <% end %>
    </div>
  
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
